<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
  <div class="text-xl font-bold text-center">
    <h1>アカウント登録</h>
  </div>
  <div class="mx-auto mt-8 mb-0 max-w-md space-y-4">
    <%= form_with model: @user do |f| %>
      <div class="mb-3">
        <%= f.label "アカウント名" %>
        <%= f.text_field :name, class: "w-full rounded-lg border border-gray-300 p-4 text-sm shadow-sm focus:border-black focus:ring-black" %>
      </div>
      <div class="mb-3">
        <%= f.label "Eメール" %>
        <%= f.email_field :email, class: "w-full rounded-lg border border-gray-300 p-4 text-sm shadow-sm focus:border-black focus:ring-black" %>
      </div>
      <div class="mb-3">
        <%= f.label "パスワード" %>
        <%= f.password_field :password, class: "w-full rounded-lg border border-gray-300 p-4 text-sm shadow-sm focus:border-black focus:ring-black" %>
      </div>
      <div class="mb-3">
        <%= f.label "パスワード確認" %>
        <%= f.password_field :password_confirmation, class: "w-full rounded-lg border border-gray-300 p-4 text-sm shadow-sm focus:border-black focus:ring-black" %>
      </div>
      <div class="mt-[30px] flex flex-col items-center justify-between">
        <button class="inline-block rounded-full border border-black bg-white px-5 py-3 text-sm font-medium text-black hover:bg-black hover:text-white">
          <%= f.submit "登録" %>
        </button>
      </div>
    <% end %>
      <div class="text-center mt-[30px]">
        <%= link_to "ログインページへ", login_path %>
      </div>
  </div>
</div>
</div>